<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <permission
        android:name="com.littlemonster.hardwareconsole.permission.TICKET_CASH_BRIDGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.littlemonster.hardwareconsole.permission.TICKET_CASH_BRIDGE" />

    <application
        android:allowBackup="false"
        android:label="Monster Hardware Console"
        android:theme="@style/Theme.MonsterHardware">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".LocalTicketBridgeService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".TicketCashBridgeReceiver"
            android:exported="true"
            android:permission="com.littlemonster.hardwareconsole.permission.TICKET_CASH_BRIDGE">
            <intent-filter>
                <action android:name="com.littlemonster.hardwareconsole.action.REQUEST_CASH_PAYMENT" />
                <action android:name="com.littlemonster.hardwareconsole.action.TICKET_ISSUED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
